 html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map { height: 100% }

	/* Edited out when we decided to use the drop down box instead of the timeline
	this edits the style of your timeline
	.box {
        border: 1px solid #EEE;
        margin: 2px;
        padding: 3px;
        background-color: white;
        font-family: sans-serif;
        font-size: 12px;
        z-index: 1000;
    }
	 this edits the font of your title
    .title {
        font-weight: 600;
    }
	this edits the position of the box which holds the timeline
    .source {
        position: absolute;
        top: 530px;
        left: 1145px;
    }
	*/

/*.leaflet-popup-content {
    max-width: 200px;
    max-height: 200px;
}

.leaflet-popup-content {
width:auto !important;
} */
.leaflet-container {
	font: 15px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	}

.info {
padding: 6px 8px;
font: 18px/20px Arial, Helvetica, sans-serif;
background: blue;
background: rgba(255,255,255,0.8);
box-shadow: 0 0 15px rgba(0,0,0,0.2);
border-radius: 5px;
}

.box {
  width: 250px;
  height: 90px;
  position: fixed;
  top: 240px;
  right: 5px;
  background: white;
  z-index:1000;
  opacity: 85%;
  padding-left: 5px;

}
.leaflet-popup {
 width:500px;
}
.popup {
 text-align:center;
 width:450px;
 }
  .popup .slideshow .image        { display:none;}
  .popup .slideshow .image.active { display:block;}
  .popup .slideshow img {
    max-width:450px;
    max-height:450px;
    /*max-height: 400px;*/
    /*width:100%;*/
 }

 .your-class{
 }
  .popup .slideshow .caption {
background:#eee;
 padding:10px;
 }
  .popup .cycle {
 padding:10px 0 20px;
 }
 .popup .cycle a.prev { float:left; }
 .popup .cycle a.next { float:right; }

 .leaflet-control-container .leaflet-top, .leaflet-control-container .leaflet-bottom {
 	transform: translate3d(0px, 0px, 0px);
 }

 .leaflet-control-search .search-tooltip {top: -50%; margin-left: 115%}

/*
.legend {
background-color: “black”;
line-height: 25px;
color: #555;
width: auto;
}
.legend i {
width: 18px;
height: 18px;
float: left;
margin-right: 8px;
opacity: 0.7;
}*/
